<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Sentiment analysis for restaurant reviews </title>
	</head>
	<body>
		<h1>Please upload your csv file.</h1>
		<p>
			Note that the csv file should be in the following format:
		</p>
		* insert the image for explaination of the csv file here *

		<form action="/uploadCsv" method="post" enctype="multipart/form-data" class="box login">
			<input type="file" name="file">
			<input type="submit" class="" value="Upload" tabindex="1">
			</form>
	</body>
</html>