<!DOCTYPE html>
<html>
  
<head>
    <title>Sentiment Inference for Restaurants Reviews</title>
</head>

<body>
    <h1>Sentiment Inference for Restaurants Reviews</h1>
   
    <form action="/uploadCsv" 
      enctype="multipart/form-data" method="POST">
      
        <span>Upload CSV data:</span>  
        <input type="file" name="myinference" accept=".csv" required/> <br>
        <input type="submit" value="Inference"> 
    </form>

</body>
  
</html>